AplikacjaSerwisowa/Web References/kwronski/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kwronski.hostingasp.pl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://kwronski.hostingasp.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kwronski.hostingasp.pl/">
      <s:element name="SayHelloToLame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="test" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloToLameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloToLameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lama">
        <s:complexType />
      </s:element>
      <s:element name="lamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lamaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XMLZwrocListeKntKarty">
        <s:complexType />
      </s:element>
      <s:element name="XMLZwrocListeKntKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLZwrocListeKntKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeKntAdresy">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeKntAdresyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeKntAdresyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeKntKarty">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeKntKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeKntKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychNaglowki">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychNaglowkiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychNaglowkiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloToLameSoapIn">
    <wsdl:part name="parameters" element="tns:SayHelloToLame" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloToLameResponse" />
  </wsdl:message>
  <wsdl:message name="lamaSoapIn">
    <wsdl:part name="parameters" element="tns:lama" />
  </wsdl:message>
  <wsdl:message name="lamaSoapOut">
    <wsdl:part name="parameters" element="tns:lamaResponse" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartySoapIn">
    <wsdl:part name="parameters" element="tns:XMLZwrocListeKntKarty" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartySoapOut">
    <wsdl:part name="parameters" element="tns:XMLZwrocListeKntKartyResponse" />
  </wsdl:message>
  <wsdl:message name="SetDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="SetDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntAdresy" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntAdresyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntKarty" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntKartyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychNaglowki" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychNaglowkiResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpGetIn">
    <wsdl:part name="test" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lamaHttpGetIn" />
  <wsdl:message name="lamaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartyHttpGetIn" />
  <wsdl:message name="XMLZwrocListeKntKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetDataHttpGetIn">
    <wsdl:part name="jsonString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresyHttpGetIn" />
  <wsdl:message name="ZwrocListeKntAdresyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartyHttpGetIn" />
  <wsdl:message name="ZwrocListeKntKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpPostIn">
    <wsdl:part name="test" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lamaHttpPostIn" />
  <wsdl:message name="lamaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartyHttpPostIn" />
  <wsdl:message name="XMLZwrocListeKntKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetDataHttpPostIn">
    <wsdl:part name="jsonString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresyHttpPostIn" />
  <wsdl:message name="ZwrocListeKntAdresyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartyHttpPostIn" />
  <wsdl:message name="ZwrocListeKntKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HelloWorld</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameSoapIn" />
      <wsdl:output message="tns:SayHelloToLameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:input message="tns:lamaSoapIn" />
      <wsdl:output message="tns:lamaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <wsdl:input message="tns:XMLZwrocListeKntKartySoapIn" />
      <wsdl:output message="tns:XMLZwrocListeKntKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input message="tns:SetDataSoapIn" />
      <wsdl:output message="tns:SetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:input message="tns:ZwrocListeKntAdresySoapIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:input message="tns:ZwrocListeKntKartySoapIn" />
      <wsdl:output message="tns:ZwrocListeKntKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HelloWorld</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameHttpGetIn" />
      <wsdl:output message="tns:SayHelloToLameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:input message="tns:lamaHttpGetIn" />
      <wsdl:output message="tns:lamaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <wsdl:input message="tns:XMLZwrocListeKntKartyHttpGetIn" />
      <wsdl:output message="tns:XMLZwrocListeKntKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input message="tns:SetDataHttpGetIn" />
      <wsdl:output message="tns:SetDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:input message="tns:ZwrocListeKntAdresyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:input message="tns:ZwrocListeKntKartyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeKntKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HelloWorld</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameHttpPostIn" />
      <wsdl:output message="tns:SayHelloToLameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:input message="tns:lamaHttpPostIn" />
      <wsdl:output message="tns:lamaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <wsdl:input message="tns:XMLZwrocListeKntKartyHttpPostIn" />
      <wsdl:output message="tns:XMLZwrocListeKntKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input message="tns:SetDataHttpPostIn" />
      <wsdl:output message="tns:SetDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:input message="tns:ZwrocListeKntAdresyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:input message="tns:ZwrocListeKntKartyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeKntKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloToLame">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/SayHelloToLame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/lama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/XMLZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/SetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntAdresy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychNaglowki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloToLame">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/SayHelloToLame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/lama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/XMLZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/SetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntAdresy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychNaglowki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SayHelloToLame">
      <http:operation location="/SayHelloToLame" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <http:operation location="/lama" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <http:operation location="/XMLZwrocListeKntKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <http:operation location="/SetData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <http:operation location="/ZwrocListeKntAdresy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <http:operation location="/ZwrocListeKntKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <http:operation location="/ZwrocListeZlecenSerwisowychNaglowki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SayHelloToLame">
      <http:operation location="/SayHelloToLame" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <http:operation location="/lama" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <http:operation location="/XMLZwrocListeKntKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <http:operation location="/SetData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <http:operation location="/ZwrocListeKntAdresy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <http:operation location="/ZwrocListeKntKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <http:operation location="/ZwrocListeZlecenSerwisowychNaglowki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>