AplikacjaSerwisowa/Web References/kwronski/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="galsoftsrv" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="galsoftsrv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="galsoftsrv">
      <s:element name="SayHelloToLame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="test" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloToLameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloToLameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lama">
        <s:complexType />
      </s:element>
      <s:element name="lamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lamaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeKntAdresy">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeKntAdresyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeKntAdresyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeKntKarty">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeKntKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeKntKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychNaglowki">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychNaglowkiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychNaglowkiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychCzynnosci">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychCzynnosciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychCzynnosciResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychSkladniki">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychSkladnikiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychSkladnikiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeTwrKarty">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeTwrKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeTwrKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeSrwUrzRodzaje">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeSrwUrzRodzajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeSrwUrzRodzajeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeSrwUrzadzenia">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeSrwUrzadzeniaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeSrwUrzadzeniaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeSrwZlcUrz">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeSrwZlcUrzResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeSrwZlcUrzResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeSrwUrzRodzPar">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeSrwUrzRodzParResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeSrwUrzRodzParResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeSrwUrzParDef">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeSrwUrzParDefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeSrwUrzParDefResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListePodpisow">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListePodpisowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListePodpisowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcNag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcNagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchronizujSrwZlcNagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcCzynnosci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcCzynnosciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchronizujSrwZlcCzynnosciResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcSkladniki">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcSkladnikiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchronizujSrwZlcSkladnikiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeOperatorow">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeOperatorowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeOperatorowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcNag">
        <s:complexType />
      </s:element>
      <s:element name="GalSrv_SrwZlcNagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GalSrv_SrwZlcNagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcNagPotwierdzenie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaPotwierdzonych" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcNagPotwierdzenieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GalSrv_SrwZlcNagPotwierdzenieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcCzynnosci">
        <s:complexType />
      </s:element>
      <s:element name="GalSrv_SrwZlcCzynnosciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GalSrv_SrwZlcCzynnosciResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaPotwierdzonych" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcCzynnosciPotwierdzenieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GalSrv_SrwZlcCzynnosciPotwierdzenieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcSkladniki">
        <s:complexType />
      </s:element>
      <s:element name="GalSrv_SrwZlcSkladnikiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GalSrv_SrwZlcSkladnikiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaPotwierdzonych" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GalSrv_SrwZlcSkladnikiPotwierdzenieResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloToLameSoapIn">
    <wsdl:part name="parameters" element="tns:SayHelloToLame" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloToLameResponse" />
  </wsdl:message>
  <wsdl:message name="lamaSoapIn">
    <wsdl:part name="parameters" element="tns:lama" />
  </wsdl:message>
  <wsdl:message name="lamaSoapOut">
    <wsdl:part name="parameters" element="tns:lamaResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntAdresy" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntAdresyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntKarty" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntKartyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychNaglowki" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychNaglowkiResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychCzynnosci" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychCzynnosciResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychSkladniki" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychSkladnikiResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeTwrKarty" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeTwrKartyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzajeSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzRodzaje" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzajeSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzRodzajeResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzadzeniaSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzadzenia" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzadzeniaSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzadzeniaResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwZlcUrzSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwZlcUrz" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwZlcUrzSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwZlcUrzResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzParSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzRodzPar" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzParSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzRodzParResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzParDefSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzParDef" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzParDefSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeSrwUrzParDefResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListePodpisowSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListePodpisow" />
  </wsdl:message>
  <wsdl:message name="ZwrocListePodpisowSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListePodpisowResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagSoapIn">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcNag" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagSoapOut">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcNagResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciSoapIn">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcCzynnosci" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciSoapOut">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcCzynnosciResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiSoapIn">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcSkladniki" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiSoapOut">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcSkladnikiResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeOperatorow" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeOperatorowResponse" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagSoapIn">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcNag" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagSoapOut">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcNagResponse" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagPotwierdzenieSoapIn">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcNagPotwierdzenie" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagPotwierdzenieSoapOut">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcNagPotwierdzenieResponse" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciSoapIn">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcCzynnosci" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciSoapOut">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcCzynnosciResponse" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciPotwierdzenieSoapIn">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcCzynnosciPotwierdzenie" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciPotwierdzenieSoapOut">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieResponse" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiSoapIn">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcSkladniki" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiSoapOut">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcSkladnikiResponse" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiPotwierdzenieSoapIn">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcSkladnikiPotwierdzenie" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiPotwierdzenieSoapOut">
    <wsdl:part name="parameters" element="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpGetIn">
    <wsdl:part name="test" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lamaHttpGetIn" />
  <wsdl:message name="lamaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresyHttpGetIn" />
  <wsdl:message name="ZwrocListeKntAdresyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartyHttpGetIn" />
  <wsdl:message name="ZwrocListeKntKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartyHttpGetIn" />
  <wsdl:message name="ZwrocListeTwrKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzajeHttpGetIn" />
  <wsdl:message name="ZwrocListeSrwUrzRodzajeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzadzeniaHttpGetIn" />
  <wsdl:message name="ZwrocListeSrwUrzadzeniaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwZlcUrzHttpGetIn" />
  <wsdl:message name="ZwrocListeSrwZlcUrzHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzParHttpGetIn" />
  <wsdl:message name="ZwrocListeSrwUrzRodzParHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzParDefHttpGetIn" />
  <wsdl:message name="ZwrocListeSrwUrzParDefHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListePodpisowHttpGetIn" />
  <wsdl:message name="ZwrocListePodpisowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpGetIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpGetIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpGetIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowHttpGetIn" />
  <wsdl:message name="ZwrocListeOperatorowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagHttpGetIn" />
  <wsdl:message name="GalSrv_SrwZlcNagHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagPotwierdzenieHttpGetIn">
    <wsdl:part name="listaPotwierdzonych" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagPotwierdzenieHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciHttpGetIn" />
  <wsdl:message name="GalSrv_SrwZlcCzynnosciHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciPotwierdzenieHttpGetIn">
    <wsdl:part name="listaPotwierdzonych" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciPotwierdzenieHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiHttpGetIn" />
  <wsdl:message name="GalSrv_SrwZlcSkladnikiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiPotwierdzenieHttpGetIn">
    <wsdl:part name="listaPotwierdzonych" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiPotwierdzenieHttpGetOut" />
  <wsdl:message name="SayHelloToLameHttpPostIn">
    <wsdl:part name="test" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lamaHttpPostIn" />
  <wsdl:message name="lamaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresyHttpPostIn" />
  <wsdl:message name="ZwrocListeKntAdresyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartyHttpPostIn" />
  <wsdl:message name="ZwrocListeKntKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartyHttpPostIn" />
  <wsdl:message name="ZwrocListeTwrKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzajeHttpPostIn" />
  <wsdl:message name="ZwrocListeSrwUrzRodzajeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzadzeniaHttpPostIn" />
  <wsdl:message name="ZwrocListeSrwUrzadzeniaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwZlcUrzHttpPostIn" />
  <wsdl:message name="ZwrocListeSrwZlcUrzHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzRodzParHttpPostIn" />
  <wsdl:message name="ZwrocListeSrwUrzRodzParHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeSrwUrzParDefHttpPostIn" />
  <wsdl:message name="ZwrocListeSrwUrzParDefHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListePodpisowHttpPostIn" />
  <wsdl:message name="ZwrocListePodpisowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpPostIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpPostIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpPostIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowHttpPostIn" />
  <wsdl:message name="ZwrocListeOperatorowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagHttpPostIn" />
  <wsdl:message name="GalSrv_SrwZlcNagHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagPotwierdzenieHttpPostIn">
    <wsdl:part name="listaPotwierdzonych" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcNagPotwierdzenieHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciHttpPostIn" />
  <wsdl:message name="GalSrv_SrwZlcCzynnosciHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciPotwierdzenieHttpPostIn">
    <wsdl:part name="listaPotwierdzonych" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcCzynnosciPotwierdzenieHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiHttpPostIn" />
  <wsdl:message name="GalSrv_SrwZlcSkladnikiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiPotwierdzenieHttpPostIn">
    <wsdl:part name="listaPotwierdzonych" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GalSrv_SrwZlcSkladnikiPotwierdzenieHttpPostOut" />
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello lame .......!</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameSoapIn" />
      <wsdl:output message="tns:SayHelloToLameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zwraca tajny kod!</wsdl:documentation>
      <wsdl:input message="tns:lamaSoapIn" />
      <wsdl:output message="tns:lamaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntAdresy</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntAdresySoapIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntKarty</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntKartySoapIn" />
      <wsdl:output message="tns:ZwrocListeKntKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychCzynnosciSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychCzynnosciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychSkladnikiSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychSkladnikiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie TwrKartyTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeTwrKartySoapIn" />
      <wsdl:output message="tns:ZwrocListeTwrKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzaje</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzRodzajeSoapIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzRodzajeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzaje</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzadzeniaSoapIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzadzeniaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcUrz</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwZlcUrzSoapIn" />
      <wsdl:output message="tns:ZwrocListeSrwZlcUrzSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzPar</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzRodzParSoapIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzRodzParSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzParDef</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzParDefSoapIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzParDefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcPodpisTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListePodpisowSoapIn" />
      <wsdl:output message="tns:ZwrocListePodpisowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcNag z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcNagSoapIn" />
      <wsdl:output message="tns:synchronizujSrwZlcNagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcCzynnosci z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcCzynnosciSoapIn" />
      <wsdl:output message="tns:synchronizujSrwZlcCzynnosciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcSkladniki z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcSkladnikiSoapIn" />
      <wsdl:output message="tns:synchronizujSrwZlcSkladnikiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie listy Operatorów</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeOperatorowSoapIn" />
      <wsdl:output message="tns:ZwrocListeOperatorowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcNagSoapIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcNagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcNagPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcNagPotwierdzenieSoapIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcNagPotwierdzenieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcCzynnosciSoapIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcCzynnosciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcCzynnosciPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieSoapIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcSkladnikiSoapIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcSkladnikiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcSkladnikiPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieSoapIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello lame .......!</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameHttpGetIn" />
      <wsdl:output message="tns:SayHelloToLameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zwraca tajny kod!</wsdl:documentation>
      <wsdl:input message="tns:lamaHttpGetIn" />
      <wsdl:output message="tns:lamaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntAdresy</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntAdresyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntKarty</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntKartyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeKntKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie TwrKartyTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeTwrKartyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeTwrKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzaje</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzRodzajeHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzRodzajeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzaje</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzadzeniaHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzadzeniaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcUrz</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwZlcUrzHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeSrwZlcUrzHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzPar</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzRodzParHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzRodzParHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzParDef</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzParDefHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzParDefHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcPodpisTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListePodpisowHttpGetIn" />
      <wsdl:output message="tns:ZwrocListePodpisowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcNag z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcNagHttpGetIn" />
      <wsdl:output message="tns:synchronizujSrwZlcNagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcCzynnosci z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcCzynnosciHttpGetIn" />
      <wsdl:output message="tns:synchronizujSrwZlcCzynnosciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcSkladniki z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcSkladnikiHttpGetIn" />
      <wsdl:output message="tns:synchronizujSrwZlcSkladnikiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie listy Operatorów</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeOperatorowHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeOperatorowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcNagHttpGetIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcNagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcNagPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcNagPotwierdzenieHttpGetIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcNagPotwierdzenieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcCzynnosciHttpGetIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcCzynnosciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcCzynnosciPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieHttpGetIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcSkladnikiHttpGetIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcSkladnikiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcSkladnikiPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieHttpGetIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello lame .......!</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameHttpPostIn" />
      <wsdl:output message="tns:SayHelloToLameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zwraca tajny kod!</wsdl:documentation>
      <wsdl:input message="tns:lamaHttpPostIn" />
      <wsdl:output message="tns:lamaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntAdresy</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntAdresyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntKarty</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntKartyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeKntKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie TwrKartyTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeTwrKartyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeTwrKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzaje</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzRodzajeHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzRodzajeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzaje</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzadzeniaHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzadzeniaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcUrz</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwZlcUrzHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeSrwZlcUrzHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzRodzPar</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzRodzParHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzRodzParHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwUrzParDef</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeSrwUrzParDefHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeSrwUrzParDefHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcPodpisTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListePodpisowHttpPostIn" />
      <wsdl:output message="tns:ZwrocListePodpisowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcNag z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcNagHttpPostIn" />
      <wsdl:output message="tns:synchronizujSrwZlcNagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcCzynnosci z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcCzynnosciHttpPostIn" />
      <wsdl:output message="tns:synchronizujSrwZlcCzynnosciHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcSkladniki z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcSkladnikiHttpPostIn" />
      <wsdl:output message="tns:synchronizujSrwZlcSkladnikiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie listy Operatorów</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeOperatorowHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeOperatorowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcNagHttpPostIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcNagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcNagPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcNagPotwierdzenieHttpPostIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcNagPotwierdzenieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcCzynnosciHttpPostIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcCzynnosciHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcCzynnosciPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieHttpPostIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcCzynnosciPotwierdzenieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">... do GalSrv SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcSkladnikiHttpPostIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcSkladnikiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GalSrv SrwZlcSkladnikiPotwierdzenie</wsdl:documentation>
      <wsdl:input message="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieHttpPostIn" />
      <wsdl:output message="tns:GalSrv_SrwZlcSkladnikiPotwierdzenieHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloToLame">
      <soap:operation soapAction="galsoftsrv/SayHelloToLame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <soap:operation soapAction="galsoftsrv/lama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <soap:operation soapAction="galsoftsrv/ZwrocListeKntAdresy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <soap:operation soapAction="galsoftsrv/ZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <soap:operation soapAction="galsoftsrv/ZwrocListeZlecenSerwisowychNaglowki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <soap:operation soapAction="galsoftsrv/ZwrocListeZlecenSerwisowychCzynnosci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <soap:operation soapAction="galsoftsrv/ZwrocListeZlecenSerwisowychSkladniki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <soap:operation soapAction="galsoftsrv/ZwrocListeTwrKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <soap:operation soapAction="galsoftsrv/ZwrocListeSrwUrzRodzaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <soap:operation soapAction="galsoftsrv/ZwrocListeSrwUrzadzenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <soap:operation soapAction="galsoftsrv/ZwrocListeSrwZlcUrz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <soap:operation soapAction="galsoftsrv/ZwrocListeSrwUrzRodzPar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <soap:operation soapAction="galsoftsrv/ZwrocListeSrwUrzParDef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <soap:operation soapAction="galsoftsrv/ZwrocListePodpisow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <soap:operation soapAction="galsoftsrv/synchronizujSrwZlcNag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <soap:operation soapAction="galsoftsrv/synchronizujSrwZlcCzynnosci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <soap:operation soapAction="galsoftsrv/synchronizujSrwZlcSkladniki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <soap:operation soapAction="galsoftsrv/ZwrocListeOperatorow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <soap:operation soapAction="galsoftsrv/GalSrv_SrwZlcNag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <soap:operation soapAction="galsoftsrv/GalSrv_SrwZlcNagPotwierdzenie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <soap:operation soapAction="galsoftsrv/GalSrv_SrwZlcCzynnosci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <soap:operation soapAction="galsoftsrv/GalSrv_SrwZlcCzynnosciPotwierdzenie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <soap:operation soapAction="galsoftsrv/GalSrv_SrwZlcSkladniki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <soap:operation soapAction="galsoftsrv/GalSrv_SrwZlcSkladnikiPotwierdzenie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloToLame">
      <soap12:operation soapAction="galsoftsrv/SayHelloToLame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <soap12:operation soapAction="galsoftsrv/lama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeKntAdresy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeZlecenSerwisowychNaglowki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeZlecenSerwisowychCzynnosci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeZlecenSerwisowychSkladniki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeTwrKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeSrwUrzRodzaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeSrwUrzadzenia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeSrwZlcUrz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeSrwUrzRodzPar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeSrwUrzParDef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <soap12:operation soapAction="galsoftsrv/ZwrocListePodpisow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <soap12:operation soapAction="galsoftsrv/synchronizujSrwZlcNag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <soap12:operation soapAction="galsoftsrv/synchronizujSrwZlcCzynnosci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <soap12:operation soapAction="galsoftsrv/synchronizujSrwZlcSkladniki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <soap12:operation soapAction="galsoftsrv/ZwrocListeOperatorow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <soap12:operation soapAction="galsoftsrv/GalSrv_SrwZlcNag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <soap12:operation soapAction="galsoftsrv/GalSrv_SrwZlcNagPotwierdzenie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <soap12:operation soapAction="galsoftsrv/GalSrv_SrwZlcCzynnosci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <soap12:operation soapAction="galsoftsrv/GalSrv_SrwZlcCzynnosciPotwierdzenie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <soap12:operation soapAction="galsoftsrv/GalSrv_SrwZlcSkladniki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <soap12:operation soapAction="galsoftsrv/GalSrv_SrwZlcSkladnikiPotwierdzenie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SayHelloToLame">
      <http:operation location="/SayHelloToLame" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <http:operation location="/lama" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <http:operation location="/ZwrocListeKntAdresy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <http:operation location="/ZwrocListeKntKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <http:operation location="/ZwrocListeZlecenSerwisowychNaglowki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <http:operation location="/ZwrocListeZlecenSerwisowychCzynnosci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <http:operation location="/ZwrocListeZlecenSerwisowychSkladniki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <http:operation location="/ZwrocListeTwrKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <http:operation location="/ZwrocListeSrwUrzRodzaje" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <http:operation location="/ZwrocListeSrwUrzadzenia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <http:operation location="/ZwrocListeSrwZlcUrz" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <http:operation location="/ZwrocListeSrwUrzRodzPar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <http:operation location="/ZwrocListeSrwUrzParDef" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <http:operation location="/ZwrocListePodpisow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <http:operation location="/synchronizujSrwZlcNag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <http:operation location="/synchronizujSrwZlcCzynnosci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <http:operation location="/synchronizujSrwZlcSkladniki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <http:operation location="/ZwrocListeOperatorow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <http:operation location="/GalSrv_SrwZlcNag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <http:operation location="/GalSrv_SrwZlcNagPotwierdzenie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <http:operation location="/GalSrv_SrwZlcCzynnosci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <http:operation location="/GalSrv_SrwZlcCzynnosciPotwierdzenie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <http:operation location="/GalSrv_SrwZlcSkladniki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <http:operation location="/GalSrv_SrwZlcSkladnikiPotwierdzenie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SayHelloToLame">
      <http:operation location="/SayHelloToLame" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <http:operation location="/lama" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <http:operation location="/ZwrocListeKntAdresy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <http:operation location="/ZwrocListeKntKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <http:operation location="/ZwrocListeZlecenSerwisowychNaglowki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <http:operation location="/ZwrocListeZlecenSerwisowychCzynnosci" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <http:operation location="/ZwrocListeZlecenSerwisowychSkladniki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <http:operation location="/ZwrocListeTwrKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzaje">
      <http:operation location="/ZwrocListeSrwUrzRodzaje" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzadzenia">
      <http:operation location="/ZwrocListeSrwUrzadzenia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwZlcUrz">
      <http:operation location="/ZwrocListeSrwZlcUrz" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzRodzPar">
      <http:operation location="/ZwrocListeSrwUrzRodzPar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeSrwUrzParDef">
      <http:operation location="/ZwrocListeSrwUrzParDef" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListePodpisow">
      <http:operation location="/ZwrocListePodpisow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <http:operation location="/synchronizujSrwZlcNag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <http:operation location="/synchronizujSrwZlcCzynnosci" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <http:operation location="/synchronizujSrwZlcSkladniki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <http:operation location="/ZwrocListeOperatorow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNag">
      <http:operation location="/GalSrv_SrwZlcNag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcNagPotwierdzenie">
      <http:operation location="/GalSrv_SrwZlcNagPotwierdzenie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosci">
      <http:operation location="/GalSrv_SrwZlcCzynnosci" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcCzynnosciPotwierdzenie">
      <http:operation location="/GalSrv_SrwZlcCzynnosciPotwierdzenie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladniki">
      <http:operation location="/GalSrv_SrwZlcSkladniki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GalSrv_SrwZlcSkladnikiPotwierdzenie">
      <http:operation location="/GalSrv_SrwZlcSkladnikiPotwierdzenie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://91.196.8.98:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://91.196.8.98:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://91.196.8.98:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://91.196.8.98:8080/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>