AplikacjaSerwisowa/Web References/kwronski/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kwronski.hostingasp.pl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://kwronski.hostingasp.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kwronski.hostingasp.pl/">
      <s:element name="SayHelloToLame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="test" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloToLameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloToLameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lama">
        <s:complexType />
      </s:element>
      <s:element name="lamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lamaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XMLZwrocListeKntKarty">
        <s:complexType />
      </s:element>
      <s:element name="XMLZwrocListeKntKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLZwrocListeKntKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeKntAdresy">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeKntAdresyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeKntAdresyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeKntKarty">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeKntKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeKntKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychNaglowki">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychNaglowkiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychNaglowkiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychCzynnosci">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychCzynnosciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychCzynnosciResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychSkladniki">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeZlecenSerwisowychSkladnikiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeZlecenSerwisowychSkladnikiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeTwrKarty">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeTwrKartyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeTwrKartyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcNag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcNagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchronizujSrwZlcNagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcCzynnosci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcCzynnosciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchronizujSrwZlcCzynnosciResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcSkladniki">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="synchronizujSrwZlcSkladnikiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="synchronizujSrwZlcSkladnikiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZwrocListeOperatorow">
        <s:complexType />
      </s:element>
      <s:element name="ZwrocListeOperatorowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZwrocListeOperatorowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloToLameSoapIn">
    <wsdl:part name="parameters" element="tns:SayHelloToLame" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloToLameResponse" />
  </wsdl:message>
  <wsdl:message name="lamaSoapIn">
    <wsdl:part name="parameters" element="tns:lama" />
  </wsdl:message>
  <wsdl:message name="lamaSoapOut">
    <wsdl:part name="parameters" element="tns:lamaResponse" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartySoapIn">
    <wsdl:part name="parameters" element="tns:XMLZwrocListeKntKarty" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartySoapOut">
    <wsdl:part name="parameters" element="tns:XMLZwrocListeKntKartyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntAdresy" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntAdresyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntKarty" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeKntKartyResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychNaglowki" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychNaglowkiResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychCzynnosci" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychCzynnosciResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychSkladniki" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeZlecenSerwisowychSkladnikiResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartySoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeTwrKarty" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartySoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeTwrKartyResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagSoapIn">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcNag" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagSoapOut">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcNagResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciSoapIn">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcCzynnosci" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciSoapOut">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcCzynnosciResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiSoapIn">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcSkladniki" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiSoapOut">
    <wsdl:part name="parameters" element="tns:synchronizujSrwZlcSkladnikiResponse" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowSoapIn">
    <wsdl:part name="parameters" element="tns:ZwrocListeOperatorow" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowSoapOut">
    <wsdl:part name="parameters" element="tns:ZwrocListeOperatorowResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpGetIn">
    <wsdl:part name="test" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lamaHttpGetIn" />
  <wsdl:message name="lamaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartyHttpGetIn" />
  <wsdl:message name="XMLZwrocListeKntKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresyHttpGetIn" />
  <wsdl:message name="ZwrocListeKntAdresyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartyHttpGetIn" />
  <wsdl:message name="ZwrocListeKntKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpGetIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartyHttpGetIn" />
  <wsdl:message name="ZwrocListeTwrKartyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpGetIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpGetIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpGetIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowHttpGetIn" />
  <wsdl:message name="ZwrocListeOperatorowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpPostIn">
    <wsdl:part name="test" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloToLameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lamaHttpPostIn" />
  <wsdl:message name="lamaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XMLZwrocListeKntKartyHttpPostIn" />
  <wsdl:message name="XMLZwrocListeKntKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntAdresyHttpPostIn" />
  <wsdl:message name="ZwrocListeKntAdresyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeKntKartyHttpPostIn" />
  <wsdl:message name="ZwrocListeKntKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychNaglowkiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychCzynnosciHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpPostIn" />
  <wsdl:message name="ZwrocListeZlecenSerwisowychSkladnikiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeTwrKartyHttpPostIn" />
  <wsdl:message name="ZwrocListeTwrKartyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpPostIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcNagHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpPostIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcCzynnosciHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpPostIn">
    <wsdl:part name="inputJSON" type="s:string" />
  </wsdl:message>
  <wsdl:message name="synchronizujSrwZlcSkladnikiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ZwrocListeOperatorowHttpPostIn" />
  <wsdl:message name="ZwrocListeOperatorowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello lame .......!</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameSoapIn" />
      <wsdl:output message="tns:SayHelloToLameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zwraca tajny kod!</wsdl:documentation>
      <wsdl:input message="tns:lamaSoapIn" />
      <wsdl:output message="tns:lamaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Wstępnie do usunięcia</wsdl:documentation>
      <wsdl:input message="tns:XMLZwrocListeKntKartySoapIn" />
      <wsdl:output message="tns:XMLZwrocListeKntKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntAdresy</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntAdresySoapIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntKarty</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntKartySoapIn" />
      <wsdl:output message="tns:ZwrocListeKntKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychCzynnosciSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychCzynnosciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychSkladnikiSoapIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychSkladnikiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie TwrKartyTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeTwrKartySoapIn" />
      <wsdl:output message="tns:ZwrocListeTwrKartySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcNag z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcNagSoapIn" />
      <wsdl:output message="tns:synchronizujSrwZlcNagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcCzynnosci z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcCzynnosciSoapIn" />
      <wsdl:output message="tns:synchronizujSrwZlcCzynnosciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcSkladniki z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcSkladnikiSoapIn" />
      <wsdl:output message="tns:synchronizujSrwZlcSkladnikiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie listy Operatorów</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeOperatorowSoapIn" />
      <wsdl:output message="tns:ZwrocListeOperatorowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello lame .......!</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameHttpGetIn" />
      <wsdl:output message="tns:SayHelloToLameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zwraca tajny kod!</wsdl:documentation>
      <wsdl:input message="tns:lamaHttpGetIn" />
      <wsdl:output message="tns:lamaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Wstępnie do usunięcia</wsdl:documentation>
      <wsdl:input message="tns:XMLZwrocListeKntKartyHttpGetIn" />
      <wsdl:output message="tns:XMLZwrocListeKntKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntAdresy</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntAdresyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntKarty</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntKartyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeKntKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie TwrKartyTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeTwrKartyHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeTwrKartyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcNag z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcNagHttpGetIn" />
      <wsdl:output message="tns:synchronizujSrwZlcNagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcCzynnosci z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcCzynnosciHttpGetIn" />
      <wsdl:output message="tns:synchronizujSrwZlcCzynnosciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcSkladniki z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcSkladnikiHttpGetIn" />
      <wsdl:output message="tns:synchronizujSrwZlcSkladnikiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie listy Operatorów</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeOperatorowHttpGetIn" />
      <wsdl:output message="tns:ZwrocListeOperatorowHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="SayHelloToLame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello lame .......!</wsdl:documentation>
      <wsdl:input message="tns:SayHelloToLameHttpPostIn" />
      <wsdl:output message="tns:SayHelloToLameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="lama">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zwraca tajny kod!</wsdl:documentation>
      <wsdl:input message="tns:lamaHttpPostIn" />
      <wsdl:output message="tns:lamaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Wstępnie do usunięcia</wsdl:documentation>
      <wsdl:input message="tns:XMLZwrocListeKntKartyHttpPostIn" />
      <wsdl:output message="tns:XMLZwrocListeKntKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntAdresy</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntAdresyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeKntAdresyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie KntKarty</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeKntKartyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeKntKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcNag</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychNaglowkiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcCzynnosci</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychCzynnosciHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie SrwZlcSkladniki</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeZlecenSerwisowychSkladnikiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie TwrKartyTable</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeTwrKartyHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeTwrKartyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcNag z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcNagHttpPostIn" />
      <wsdl:output message="tns:synchronizujSrwZlcNagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcCzynnosci z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcCzynnosciHttpPostIn" />
      <wsdl:output message="tns:synchronizujSrwZlcCzynnosciHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na synchronizację SrwZlcSkladniki z urządzenia</wsdl:documentation>
      <wsdl:input message="tns:synchronizujSrwZlcSkladnikiHttpPostIn" />
      <wsdl:output message="tns:synchronizujSrwZlcSkladnikiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pozwala na wygenerowanie listy Operatorów</wsdl:documentation>
      <wsdl:input message="tns:ZwrocListeOperatorowHttpPostIn" />
      <wsdl:output message="tns:ZwrocListeOperatorowHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloToLame">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/SayHelloToLame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/lama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/XMLZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntAdresy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychNaglowki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychCzynnosci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychSkladniki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeTwrKarty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/synchronizujSrwZlcNag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/synchronizujSrwZlcCzynnosci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/synchronizujSrwZlcSkladniki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <soap:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeOperatorow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloToLame">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/SayHelloToLame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/lama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/XMLZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntAdresy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeKntKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychNaglowki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychCzynnosci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeZlecenSerwisowychSkladniki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeTwrKarty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/synchronizujSrwZlcNag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/synchronizujSrwZlcCzynnosci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/synchronizujSrwZlcSkladniki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <soap12:operation soapAction="http://kwronski.hostingasp.pl/ZwrocListeOperatorow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SayHelloToLame">
      <http:operation location="/SayHelloToLame" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <http:operation location="/lama" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <http:operation location="/XMLZwrocListeKntKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <http:operation location="/ZwrocListeKntAdresy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <http:operation location="/ZwrocListeKntKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <http:operation location="/ZwrocListeZlecenSerwisowychNaglowki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <http:operation location="/ZwrocListeZlecenSerwisowychCzynnosci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <http:operation location="/ZwrocListeZlecenSerwisowychSkladniki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <http:operation location="/ZwrocListeTwrKarty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <http:operation location="/synchronizujSrwZlcNag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <http:operation location="/synchronizujSrwZlcCzynnosci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <http:operation location="/synchronizujSrwZlcSkladniki" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <http:operation location="/ZwrocListeOperatorow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SayHelloToLame">
      <http:operation location="/SayHelloToLame" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lama">
      <http:operation location="/lama" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XMLZwrocListeKntKarty">
      <http:operation location="/XMLZwrocListeKntKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntAdresy">
      <http:operation location="/ZwrocListeKntAdresy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeKntKarty">
      <http:operation location="/ZwrocListeKntKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychNaglowki">
      <http:operation location="/ZwrocListeZlecenSerwisowychNaglowki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychCzynnosci">
      <http:operation location="/ZwrocListeZlecenSerwisowychCzynnosci" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeZlecenSerwisowychSkladniki">
      <http:operation location="/ZwrocListeZlecenSerwisowychSkladniki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeTwrKarty">
      <http:operation location="/ZwrocListeTwrKarty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcNag">
      <http:operation location="/synchronizujSrwZlcNag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcCzynnosci">
      <http:operation location="/synchronizujSrwZlcCzynnosci" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizujSrwZlcSkladniki">
      <http:operation location="/synchronizujSrwZlcSkladniki" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocListeOperatorow">
      <http:operation location="/ZwrocListeOperatorow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://91.196.9.105:8080/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>